## Input params
# Valid actions: "create", "delete"
{{$action := .action}}

steps:
- name: {{$action}} informer role
  phases:
    - namespaceList: [""]
      tuningSet: default
      replicasPerNamespace: 1
      objectBundle:
        - basename: informer
          objectTemplatePath: /modules/informer/namespace.yaml
        - basename: informer
          objectTemplatePath: /modules/informer/role.yaml
        - basename: informer
          objectTemplatePath: /modules/informer/roleBinding.yaml
- name: {{$action}} informer deployment
  phases:
    - namespaceList: ["informer-0"]
      replicasPerNamespace: 1
      tuningSet: default
      objectBundle:
        - basename: informer-watch-list-off
          objectTemplatePath: /modules/informer/deployment.yaml
          templateFillMap:
            EnableWatchListFeature: "false"
    - namespaceList: ["informer-0"]
      replicasPerNamespace: 1
      tuningSet: default
      objectBundle:
        - basename: informer-watch-list-on
          objectTemplatePath: /modules/informer/deployment.yaml
          templateFillMap:
            EnableWatchListFeature: "true"
