apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{.Name}}
  labels:
    group: informer
spec:
  selector:
    matchLabels:
      group: informer
  template:
    metadata:
      labels:
        group: informer
    spec:
      containers:
        - name: {{.Name}}
          image: gcr.io/k8s-staging-perf-tests/watch-list:v0.0.3
          resources:
            requests:
              memory: "16Gi"
              cpu: "6"
            limits:
              memory: "16Gi"
              cpu: "6"
          command: [ "watch-list" ]
          args:
            - "--alsologtostderr=true"
            - "--v=4"
            - "--timeout=100h"
            - "--count=1"
            - "--enableWatchListFeature={{.EnableWatchListFeature}}"
            - "--api-version=v1"
            - "--resource=pods"
