name: Load
automanagedNamespaces: 3
tuningSets:
- name: Average0.33qps
  randomizedLoad:
    averageQps: 0.33
- name: Average1.4qps
  randomizedLoad:
    averageQps: 1.4
steps:
- measurements:
  - Identifier: GlobalTimer
    Method: Timer
    Params:
      action: start
  - Identifier: CreatePodsTimer
    Method: Timer
    Params:
      action: start
  - Identifier: APICallLatency
    Method: APICallLatency
    Params:
      action: reset
# Create RCs
- phases:
  - namespaceRange:
      min: 1
      max: 3
    replicasPerNamespace: 1
    tuningSet: Average0.33qps
    objectBundle:
    - basename: service
      objectTemplatePath: service.yaml
      templateFillMap:
        RCBasename: rc
    - basename: rc
      objectTemplatePath: rc.yaml
      templateFillMap:
        ReplicasMin: 30
        ReplicasMax: 30
- measurements:
  - Identifier: WaitForRunningRCs
    Method: WaitForControlledPodsRunning
    Params:
      kind: ReplicationController
      labelSelector: kind = loadRC
      timeout: 2m
- measurements:
  - Identifier: CreatePodsTimer
    Method: Timer
    Params:
      action: stop
      label: Pods creation
  - Identifier: ScaleRCsTimer
    Method: Timer
    Params:
      action: start
# Scale RCs
- phases:
  - namespaceRange:
      min: 1
      max: 3
    replicasPerNamespace: 1
    tuningSet: Average1.4qps
    objectBundle:
    - basename: service
      objectTemplatePath: service.yaml
      templateFillMap:
        RCBasename: rc
    - basename: rc
      objectTemplatePath: rc.yaml
      templateFillMap:
        ReplicasMin: 15
        ReplicasMax: 45
- measurements:
  - Identifier: WaitForScaledRCsRunning
    Method: WaitForControlledPodsRunning
    Params:
      kind: ReplicationController
      labelSelector: kind = loadRC
      timeout: 2m
- measurements:
  - Identifier: ScaleRCsTimer
    Method: Timer
    Params:
      action: stop
      label: Scaling RCs
  - Identifier: DeleteAllPodsTimer
    Method: Timer
    Params:
      action: start
# Delete RCs
- phases:
  - namespaceRange:
      min: 1
      max: 3
    replicasPerNamespace: 0
    tuningSet: Average0.33qps
    objectBundle:
    - basename: service
      objectTemplatePath: service.yaml
    - basename: rc
      objectTemplatePath: rc.yaml
- measurements:
  - Identifier: APICallLatency
    Method: APICallLatency
    Params:
      action: gather
      nodeCount: 3
  - Identifier: DeleteAllPodsTimer
    Method: Timer
    Params:
      action: stop
      label: Pods deletion
- measurements:
  - Identifier: GlobalTimer
    Method: Timer
    Params:
      action: stop
      label: Global execution
