# Deployment config for performance monitor. To be used when deploying in on the cluster.
# RBAC: requires view access to Pods and Events.
apiVersion: apps/v1
kind: Deployment
metadata:
  name: slo-monitor
  namespace: kube-system
  labels:
    app: slo-monitor
spec:
  selector:
    matchLabels:
      app: slo-monitor
  template:
    metadata:
      labels:
        app: slo-monitor
    spec:
      containers:
      - name: slo-monitor
        image: k8s.gcr.io/slo-monitor:0.12.0
        command:
          - /slo-monitor
          -  --alsologtostderr=true
        imagePullPolicy: Always
        ports:
        - name: metrics
          containerPort: 8080
        resources:
          requests:
            cpu: 300m
            memory: 100Mi
          limits:
            cpu: 300m
            memory: 100Mi
      restartPolicy: Always
      serviceAccountName: slo-monitor
