{{$CpuRequest := DefaultParam .CL2_EXECSERVICE_CPU_REQUESTS ""}}
{{$MemoryRequest := DefaultParam .CL2_EXECSERVICE_MEMORY_REQUESTS ""}}
{{$TolerateControlPlane := DefaultParam .CL2_EXECSERVICE_TOLERATE_CONTROL_PLANE false}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{.Name}}
  namespace: {{.Namespace}}
spec:
  replicas: {{.Replicas}}
  selector:
    matchLabels:
       feature: exec
  template:
    metadata:
       labels:
         feature: exec
    spec:
{{if $TolerateControlPlane}}
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
{{end}}
      containers:
      - name: agnhost
        image: {{.ImageRegistry}}/e2e-test-images/agnhost:2.32
        resources:
          requests:
{{if $CpuRequest}}
            cpu: {{$CpuRequest}}
{{end}}
{{if $MemoryRequest}}
            memory: {{$MemoryRequest}}
{{end}}
