{{$CpuRequest := DefaultParam .CL2_EXECSERVICE_CPU_REQUESTS ""}}
{{$MemoryRequest := DefaultParam .CL2_EXECSERVICE_MEMORY_REQUESTS ""}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{.Name}}
  namespace: {{.Namespace}}
spec:
  replicas: {{.Replicas}}
  selector:
    matchLabels:
       feature: exec
  template:
    metadata:
       labels:
         feature: exec
    spec:
      containers:
      - name: agnhost
        image: {{.ImageRegistry}}/e2e-test-images/agnhost:2.32
        resources:
          requests:
{{if $CpuRequest}}
            cpu: {{$CpuRequest}}
{{end}}
{{if $MemoryRequest}}
            memory: {{$MemoryRequest}}
{{end}}
