provider: local
ClusterLoader:
  delete: false
  projects:
    - num: 1
      basename: clusterproject
      tuning: default
      pods:
        - num: 20
          image: gcr.io/google_containers/busybox:1.24
          basename: busybox
          file: pod-logger.json          
  tuningsets:
    - name: default
      pods:
        stepping:
          stepsize: 10
          pause: 60 
        ratelimit:
          delay: 100
