apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: perfdash
  namespace: default
  labels:
    app: perfdash
    version: "0.24"
spec:
  selector:
    matchLabels:
      app: perfdash
  template:
    metadata:
      labels:
        app: perfdash
    spec:
      containers:
      - name: perfdash
        image: gcr.io/k8s-testimages/perfdash:0.24
        command:
          - /perfdash
          -   --www=true
          -   --dir=/www
          -   --address=0.0.0.0:8080
          -   --builds=100
        imagePullPolicy: Always
        ports:
        - name: status
          containerPort: 8080
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 10
          timeoutSeconds: 1
        resources:
          requests:
            cpu: 600m
            memory: 4000Mi
          limits:
            cpu: 600m
            memory: 4000Mi
      restartPolicy: Always
